# Node.js (Frontend)
node_modules/
dist/
build/
.env

# Python (Backend)
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Allgemein
.DS_Store
*.log
*.tmp
*.swp

# IDEs/Editoren
.vscode/
.idea/

# Betriebssystem-Dateien
Thumbs.db
